mat-form-field {
    width: 100%;
    margin: 10px 0px;
   
  }
  
  form {
    width: 500px;
    
  }
  .mat-grid-tile {
    margin-right: 10px; /* Ajusta el valor según tus necesidades */
    
  }
  .mat-grid-list {
    grid-column-gap: 200px; /* Espacio de separación horizontal entre columnas */
  }
  